[submodule "vendors/glfw"]
	path = vendors/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendors/glm"]
	path = vendors/glm
	url = git@github.com:g-truc/glm.git
[submodule "vendors/freetype2"]
	path = vendors/freetype2
	url = git@github.com:aseprite/freetype2.git
[submodule "vendors/spdlog"]
	path = vendors/spdlog
	url = git@github.com:gabime/spdlog.git
